body {
    font-size: x-large;
    background-color: burlywood;
}


ul {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
  
   display: flex;
    height: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.container a{
    width: 180px;
    height: 80px;
    background-color: orange;
    color: white;
    margin: 40px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    border-radius: 89.8px 6px 80.2px 6px;
}